<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="{{ '/' | prepend: site.baseurl }}">Página Inicial</a></li>
          <li><a href="{{ '/historico' | prepend: site.baseurl }}/">Empresa</a></li>
          <li><a href="{{ '/ParqueEcologico' | prepend: site.baseurl }}/">Parque Ecológico</a></li>
          <li><a href="{{ '/endereco' | prepend: site.baseurl }}/">Endereço</a></li>

        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> Cursinho Comunitário A-Sol. Tema <a href="https://github.com/kssim/about-portfolio/">A.P</a> por kssim.
      </span>
    </footer>
  </body>
</html>
